# Node.js / Frontend
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
.idea/
.vscode/
.pytest_cache/
*.log

# Environment files
.env
.env.*
*.env

# IDE files
.vscode/
.idea/
.sublime-project
.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Log files
*.log